<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-icon name="contacts"></ion-icon>
            Characters
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="forceReload($event)">
        <ion-refresher-content refreshingText="Reloading from API...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-row>
        <ion-col col-12 col-md-8 col-lg-6 col-xl-4 offset-md-2 offset-lg-3 offset-xl-4>
            <ion-toolbar>
                <ion-searchbar [(ngModel)]="curSearch" (ionInput)="search($event)" placeholder="Search Characters..." showCancelButton color="danger"></ion-searchbar>
                <ion-badge color="warning" *ngIf="curSearch && curSearch.length < 2">Input at least 2 letters to search...</ion-badge>
            </ion-toolbar>
            
            <ion-list>
                <ion-item *ngFor="let i of items" (click)="viewDetails(i)">
                    {{i.name}}
                    <ion-icon item-end name="arrow-round-forward"></ion-icon>
                </ion-item>
            </ion-list>

            <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadMore())">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-col>
    </ion-row>
</ion-content>
