<ion-list *ngIf="person | async as p">
    <ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        <ion-label>Species</ion-label>
        <ion-badge item-right><species-name [url]="p.species[0]"></species-name></ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon item-start class="custom">📏</ion-icon>
        <ion-label>Height</ion-label>
        <ion-badge item-right>{{p.height}} cm</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon item-start class="custom">
            <i class="fa fa-balance-scale"></i>
        </ion-icon>
        <ion-label>Mass</ion-label>
        <ion-badge item-right>{{p.mass}} kg</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon [name]="p.gender" item-start></ion-icon>
        <ion-label>Gender</ion-label>
        <ion-badge item-right>{{p.gender}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="brush" item-start></ion-icon>
        <ion-label>Hair Color</ion-label>
        <ion-badge item-right>{{p.hair_color}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="hand" item-start></ion-icon>
        <ion-label>Skin Color</ion-label>
        <ion-badge item-right>{{p.skin_color}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        <ion-label>Eye Color</ion-label>
        <ion-badge item-right>{{p.eye_color}}</ion-badge>
    </ion-item>
</ion-list>