<ion-list *ngIf="person">
    <ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        <ion-label>Species</ion-label>
        <ion-badge item-right><species-name [url]="person.species[0]"></species-name></ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon item-start class="custom">📏</ion-icon>
        <ion-label>Height</ion-label>
        <ion-badge item-right>{{person.height}} cm</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon item-start class="custom">
            <i class="fa fa-balance-scale"></i>
        </ion-icon>
        <ion-label>Mass</ion-label>
        <ion-badge item-right>{{person.mass}} kg</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon *ngIf="person.gender !== 'n/a'" [name]="person.gender" item-start></ion-icon>
        <ion-icon *ngIf="person.gender === 'n/a'" item-start class="custom">
            <i class="fa fa-venus-mars"></i>
        </ion-icon>
        <ion-label>Gender</ion-label>
        <ion-badge item-right>{{person.gender}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="brush" item-start></ion-icon>
        <ion-label>Hair Color</ion-label>
        <ion-badge item-right>{{person.hair_color}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="hand" item-start></ion-icon>
        <ion-label>Skin Color</ion-label>
        <ion-badge item-right>{{person.skin_color}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        <ion-label>Eye Color</ion-label>
        <ion-badge item-right>{{person.eye_color}}</ion-badge>
    </ion-item>
</ion-list>
