<ion-list *ngIf="machine">
    <h2>{{machine.name}}</h2>
    <ion-item>
        <ion-icon name="apps" item-start></ion-icon>
        <ion-label>Category</ion-label>
        <ion-badge item-right>{{type}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon name="construct" item-start></ion-icon>
        <ion-label>Model</ion-label>
        <ion-badge item-right>{{machine.model}}</ion-badge>
    </ion-item>
    <ion-item>
        <ion-icon item-start class="custom">
            <i class="fa fa-industry"></i>
        </ion-icon>
        <ion-label>Manufacturer</ion-label>
        <ion-badge item-right>{{machine.manufacturer}}</ion-badge>
    </ion-item>
    <ion-item *ngIf="machine.cost_in_credits != 'unknown'">
        <ion-icon item-start class="custom">
            <img src="assets/imgs/cred.png" />
        </ion-icon>
        <ion-label>Cost</ion-label>
        <ion-badge item-right>{{machine.cost_in_credits | number}} Credits</ion-badge>
    </ion-item>
    <ion-item *ngIf="machine.length != 'unknown'">
        <ion-icon item-start class="custom">📏</ion-icon>
        <ion-label>Length</ion-label>
        <ion-badge item-right>{{machine.length | number}} meters</ion-badge>
    </ion-item>
    <ion-item *ngIf="machine.crew != 'unknown'">
        <ion-icon name="people" item-start></ion-icon>
        <ion-label>Crew Capacity</ion-label>
        <ion-badge item-right>{{machine.crew | number}}</ion-badge>
    </ion-item>
    <ion-item *ngIf="machine.passengers != 'unknown'">
        <ion-icon name="train" item-start></ion-icon>
        <ion-label>Passenger Capacity</ion-label>
        <ion-badge item-right>{{machine.passengers | number}}</ion-badge>
    </ion-item>
</ion-list>
